
#root {
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgba(4, 36, 76, 0.7);
}

.app {
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: center;
}

.drum-pad {
	margin: .4rem;
	display: flex;	
	justify-content: center;
	align-items: center;
	height: 100px;
	width: 100px;
	float: left;
	border-radius: 50%;
	background-color: #04244c;
	font-size: 2em;
	color: #fff;
	box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.4);

    &:hover {
        background-color: #18044c;
        transform: translateY(4px);
        cursor: pointer;
    }

    &.key-pressed {
        background-color: #18044c;
        transform: translateY(4px);
        cursor: pointer;
    }
}

.drum-machine {
	width: 350px;

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

// controller
.controller {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 350px;
}

/* toggle button */
.toggle {
	height: 60px;
	width: 140px;
	margin-bottom: 20px;
	border: 2px solid black;
	background: #dedede;
	border-radius: 10px;

    .toggle-box {
        display: inline-block;
        height: 50px;
        width: 55px;
        margin: 2.5px 0 2.5px 2.5px;
        background: #04244c;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;

        &.changed {
            margin-left: 78px;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
        }
    }
}

.display {
	height: 60px;
	width: 200px;
	background: #04244c;
    border-radius: 10px;
	margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 1.4em;
  
}

.volume-slider {
	margin-bottom: 20px;
}



